@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: 'GoodSans';
  src: url('/fonts/GoodSans-Regular.otf') format('otf'),
       url('/fonts/GoodSans-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GoodSans';
  src: url('/fonts/GoodSans-Medium.otf') format('otf'),
       url('/fonts/GoodSans-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}

